<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width; initial-scale=1.0")
    title Document
    
    link(href="assets/css/app.css", type="text/css", rel="stylesheet")
body
    .container
        .headline
            h1 Ajax Search
            small Sir Xiradorn &copy; 2016
        
        form(method="GET")
            input(id="city", name="city", type="text", autocomplete="off", placeholder="... digita il testo qua ...")
            input(id="btn", type="button", name="ajax", value="ajax")
            small Valori consigliati: 
            small 
                strong roma, milano, napoli 
            small Case insensitive
        
        p.label Messaggio in ritorno da ajax
        p(id="areaDisplay") Ritorno AJAX
    
    script(src="assets/js/app.js")
